* {
    box-sizing: border-box;
  }

html,body {
    margin:0;
    padding:0;
}

/* colors: 
white blue rgb(225, 244, 255);
dark/navy blue rgb(11, 62, 109);
teal rgb(49, 136, 170);
*/

body {
  background-color: rgb(225, 244, 255);
}

main {
  display: flex;
  flex-direction: column;
}

main header, main h2 {
    font-size: 18px;
    font-family: 'Didact Gothic', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 2;
    color: rgb(225, 244, 255);
  }

main section {
  font-size: 16px;
  font-family: 'arimo', sans-serif;
}

nav {
    position: fixed;
    font-family: 'Didact Gothic', sans-serif;
    background-color: rgb(11, 62, 109);
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
}

nav a:link, nav a:visited {
  text-decoration: none;
  color: rgb(225, 244, 255);
}

.navbuttons{
  float: right;
}

.navbuttons a {
  padding-right: 30px;
}

.navhome {
  text-align: left;
}

header {
    text-align: center;
}
h1 {
  color: rgb(11, 62, 109);
}

.headshot{
    /* background-img: */
    height: 250px;
    width: 250px;
    background-color: rgb(49, 81, 170);
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

section {
    min-height: 200px;
    background-color:rgb(49, 136, 170);
    margin: 0;
  }
  
section:nth-child(even) {
    color: rgb(225, 244, 255);
    background-color: rgb(11, 62, 109);
  }

.project {
    border: 1px solid black;
    height: 125px;
    width: 125px;
    margin-left: 25px;
    margin: 0 auto;
}

.contactlinks a:link, .contactlinks a:visited {
  display: block;
  text-decoration: none;
  color: rgb(225, 244, 255);
  text-align: center;
  line-height: 26px;
}